<%- include('../../partials/head', { pageTitle: 'All Your Orders' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../partials/user-navbar') %>
  <main>
    <h1>All Your Orders</h1>
    <ol>
        <% for (const order of orders) { %>
          <li>
            <%- include('order-item', { order: order }) %>
          </li>
        <% } %>
      </ol>
  </main>
<%- include('../../shared/includes/footer') %>